table{
	border-collapse: collapse;
	margin: auto;
}
td, th{
	border: 1px solid rgb(5, 211, 207);
	text-align: center;
}

h1{
	text-align: center;
}
#figure{
    border: 2px solid #cd0cdb; /* bordure */
    margin: 130px 0 0 0; /* marges haut droite bas gauche */
    }